@charset "UTF-8";

/* this will be the image of the white house, with the scrolly over that */
.parallax { 
    /* The image used */
    background-image: url("pictures/whitehouse.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}