@charset "UTF-8";
body, html {
	height: 100%;
}

/* this will be the image of the white house, with the scrolly over that */
.parallax {
	/* The image used */
	background-image: url("pictures/whitehouse.png");
	/* Set a specific height */
	height: 600px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.formBox {
	background-image: url("pictures/blank-parchment-aps.jpg");
	position: absolute;
	width: 300px;
	height: 85px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	border-radius: 25%;
}

.headBar {
	position: inherit;
	width: inherit;
	height: 85px;
	z-index: 15;
	top: 50%;
	left: 50%;
	text-align: center;
	background-color: black;
	color: white;
}

img {
	border-radius: 100%;
	position: center;
	height: 500px;
	padding: 20px;
}

#wrapper {

  background-image: url("pictures/blank-parchment-aps.jpg");
  height: 510px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#content {
  float: left;
  word-wrap: break-word;
}
#sidebar {
  float: right;
}
#cleared {
  clear: both;
}
.bottomNav {
	position: inherit;
	width: inherit;
	height: 45px;
	z-index: 15;
	top: 50%;
	left: 50%;
	text-align: center;
	background-color: black;
	
}